
body {background-image: linear-gradient(#0d0c16,white, #c1bed8);}

header{background-color: rgb(28,28,35);
height: 50%;}
    
.logo{ display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
height: 20%;
background-color: black;}
   


nav{text-align: center;
background-color: black;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 0%;}

.nav {margin-left: 10%;
    margin-right: 10%;
    }

.navButton{
text-decoration: none;
color: white;
font-size: 40px;
}

.instruction-box{  border: solid 5px black;
color: #fff;
border: solid 3px black;
}

.instruction{text-align: center;
font-size: 30px;
background-color: black;
opacity: 90%;
font-family: sans-serif;
font-size: 50px;
}


svg{padding-left: 10%;
padding-right: 10%;
padding-top: 40%;
padding-bottom: 20%;
}


#comp-one{fill: none;
pointer-events: all;
transition: all 0.5s;
}
    
#comp-one:hover{fill:RGBA(0,255,0, 0.3);
pointer-events: all !important;
transition: fill .5s;
cursor: pointer;
}

#comp-two{fill: none;
pointer-events: all;}
        
#comp-two:hover{fill:RGBA(0,255,0, 0.3);
pointer-events: all !important;
transition: fill .5s;
cursor: pointer;}

#STAFF{fill: none;
pointer-events: all;}
                
#STAFF:hover{fill:red;
opacity: 30%;
pointer-events: all !important;
transition: fill .5s;
cursor: pointer;}
    
#comp-three{fill: none;
pointer-events: all;}
            
#comp-three:hover{fill:RGBA(0,255,0, 0.3);
pointer-events: all !important;
transition: fill .5s;
cursor: pointer;}
            
#comp-four{fill: none;
pointer-events: all;}
                
#comp-four:hover{fill:RGBA(0,255,0, 0.3);
pointer-events: all;
transition: fill .5s;
cursor: pointer;}
    
    
    
