a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    width: 100%;
    background: #1F2626;
    font-weight: 800;
}

.logo-frame {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.logo {
    width: 10%;
    height: 10%;
}

svg {
    padding-left: 10%;
    margin-top: 7%;
    width: 80%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.TimeSelection{
    margin-right: 5%;
}

.column {
  float: left;
  width: 15%;
  padding: 30px
}

.Whole-Map{
        margin-top: 75px;
    }

@media (max-width: 1200px) {
    .container{
    display: block;
    width: 100%;
    }

    .TimeSelection{
        border-top:2px solid whitesmoke ;
    }

    svg{
        transform: translateX(60px);
    }

    .logo{
        width: 35%;
    }
}