
body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: #1F2626;
    font-weight: 800;
}

.logo-frame {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.logo {
    width: 10%;
    height: 10%;
}

.login {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 35px;
}

.signIn {
    font-family: Hack, monospace;
    font-size: 20px;
    background-color: #1F2626;
    color: white;
    border: 2px solid white;
    border-radius: 0.7rem;
    padding: 1rem;
    transition: all 0.5s;
}


.signIn:hover {
    -moz-transform: scale(1.2) translate(0px, -4px);
    -webkit-transform: scale(1.2) translate(0px, -4px);
    -o-transform: scale(1.2) translate(0px, -4px);
    -ms-transform: scale(1.2) translate(0px, -4px);
    transform: scale(1.2) translate(0px, -4px);
    background-color: #1F2626;
    color: white;
    border-width: 2px;
    border-color: white;
    border-radius: 0.7rem;
}

svg {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    width: 80%;
}


#comp-one {
    fill: none;
    pointer-events: all;
    transition: all 0.5s;
}

#comp-one:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-two {
    fill: none;
    pointer-events: all;
}

#comp-two:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#STAFF {
    fill: none;
    pointer-events: all;
}

#STAFF:hover {
    fill: #ff0000;
    opacity: 30%;
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-three {
    fill: none;
    pointer-events: all;
}

#comp-three:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-four {
    fill: none;
    pointer-events: all;
}

#comp-four:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all;
    transition: fill .5s;
    cursor: pointer;
}
    
    
    
