@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: #1F2626;
    font-weight: 800;
}

.logo-frame {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.logo {
    width: 10%;
    height: 10%;
}

.g-signin2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #3A7734;
}


svg {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    width: 80%;
}


#comp-one {
    fill: none;
    pointer-events: all;
    transition: all 0.5s;
}

#comp-one:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-two {
    fill: none;
    pointer-events: all;
}

#comp-two:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#STAFF {
    fill: none;
    pointer-events: all;
}

#STAFF:hover {
    fill: #ff0000;
    opacity: 30%;
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-three {
    fill: none;
    pointer-events: all;
}

#comp-three:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all !important;
    transition: fill .5s;
    cursor: pointer;
}

#comp-four {
    fill: none;
    pointer-events: all;
}

#comp-four:hover {
    fill: RGBA(0, 255, 0, 0.3);
    pointer-events: all;
    transition: fill .5s;
    cursor: pointer;
}
    
    
    
