   header{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #08061a;
        color: white;
        font-family:'Sans open', sans-serif;
    }

    header a{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    }

    html{
        margin-top: 40px ;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    body{
        background-image: linear-gradient(#0d0c16, #c1bed8);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .pannel{
        background-color: white;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px 25px;
        width: 100%;
        max-width: 960px;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
    }

    .person{
        border-bottom: 1px solid #e1f1ff ;
    }

    .center{
        margin-bottom: 25px;
        border-radius: 50%;
    }

    h2{
        color: #888;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p{
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 40px;
    }

    .main-header{
        padding-top: 2vh;
    }

    .content{
        border-bottom: 1px solid #e1f1ff ;
        padding-bottom: 40px;
    }

    .disclaimer{
        border-top: 3px solid #7f878d ;
        color: rgb(255, 38, 0);
    }
