{% extends "template.html" %}
{% block content %}
<div class="container">
            <svg width="300" height="450" viewBox="0 0 400 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Kitchen">
                    <g id="room-names">
                        <text id="KITCHEN" transform="translate(52 386)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">KITCHEN&#10;</tspan>
                            <tspan x="0" y="25.1016">&#10;</tspan></text>
                        <text id="ROOMY" transform="translate(18 103)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">ROOMY&#10;</tspan>
                            <tspan x="0" y="25.1016">&#10;</tspan></text>
                        <text id="JUNGLE" transform="translate(202.741 386)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">JUNGLE&#10;</tspan></text>
                        <text id="RICK" transform="translate(26 240)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">RICK&#10;</tspan>
                            <tspan x="0" y="25.1016">&#10;</tspan></text>
                        <text id="MORTY" transform="translate(18 195)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">MORTY</tspan></text>
                        <text id="PEACE" transform="translate(102 27)" fill="whitesmoke" xml:space="preserve"
                              style="white-space: pre" font-family="Roboto" font-size="12" letter-spacing="0em"><tspan x="0" y="11.1016">PEACE</tspan></text>
                    </g>
                    <path id="Jungle" class="room" d="M150 440.5V347.5L299 348.5V440.5H150Z" stroke="whitesmoke"/>
                    <path id="Kitchen_2" class="room" d="M1 440V346.5L150 347.5V440H1Z" stroke="whitesmoke"/>
                    <path id="Vector"
                          d="M2.5 225H77.5M77 52.5H161M2.5 272.5H77.5L77 26.5M2.5 272.5H1.00002V440.5H299V271.5H161V1L2.50002 49.5L2.5 272.5ZM1.00002 346.5L299 348.5M2.5 170H77.5"
                          stroke="whitesmoke"/>
                    <path id="Rick" class="room" d="M77.5 272.5H2.50002V225H77.5V272.5Z" stroke="whitesmoke"/>
                    <path id="Morty" class="room" d="M2.50002 170V225H77.5V170H2.50002Z" stroke="whitesmoke"/>
                    <path id="Roomy" class="room" d="M77.5 170H2.50002V49.5L77 26.5L77.5 170Z" stroke="whitesmoke"/>
                    <path id="Peace" class="room" d="M77 52.5V26.5L161 1V52.5H77Z" stroke="whitesmoke"/>
                </g>
            </svg>

<span class="TimeSelection">
        <div class="column" style="background-color:#1F2626;">
    <div><img class="night" src="{{url_for('static', filename='img/moon.png')}}"></div>
    <div class="title">NIGHT</div>
    <div><button id="00" class="btn effect01" onclick = handleUserChoice("00")>00:00</button></div>
    <div><button id="01" class="btn effect01" onclick = handleUserChoice("01")>01:00</button></div>
    <div><button id="02" class="btn effect01" onclick = handleUserChoice("02")>02:00</button></div>
    <div><button id="03" class="btn effect01" onclick = handleUserChoice("03")>03:00</button></div>
    <div><button id="04" class="btn effect01" onclick = handleUserChoice("04")>04:00</button></div>
    <div><button id="05" class="btn effect01" onclick = handleUserChoice("05")>05:00</button></div>
  </div>
  <div class="column" style="background-color:#1F2626;">
    <div><img src="{{url_for('static', filename='img/sunrise.png')}}"></div>
    <div class="title">MORNING</div>
    <div><button id="06" class="btn effect01" onclick = handleUserChoice('06')>06:00</button></div>
    <div><button id="07" class="btn effect01" onclick = handleUserChoice("07")>07:00</button></div>
    <div><button id="08" class="btn effect01" onclick = handleUserChoice("08")>08:00</button></div>
    <div><button id="09" class="btn effect01" onclick = handleUserChoice("09")>09:00</button></div>
    <div><button id="10" class="btn effect01" onclick = handleUserChoice("10")>10:00</button></div>
    <div><button id="11" class="btn effect01" onclick = handleUserChoice("11")>11:00</button></div>
  </div>
  <div class="column" style="background-color:#1F2626;">
    <div><img src="{{url_for('static', filename='img/sun.png')}}"></div>
    <div class="title">MIDDAY</div>
    <div><button id="12" class="btn effect01" onclick = handleUserChoice("12")>12:00</button></div>
    <div><button id="13" class="btn effect01" onclick = handleUserChoice("13")>13:00</button></div>
    <div><button id="14" class="btn effect01" onclick = handleUserChoice("14")>14:00</button></div>
    <div><button id="15" class="btn effect01" onclick = handleUserChoice("15")>15:00</button></div>
    <div><button id="16" class="btn effect01" onclick = handleUserChoice("16")>16:00</button></div>
    <div><button id="17" class="btn effect01" onclick = handleUserChoice("17")>17:00</button></div>
  </div>
    <div class="column" style="background-color:#1F2626;">
        <div><img src="{{url_for('static', filename='img/sunSet.png')}}"></div>
        <div class="title">EVENING</div>
        <div><button id="18" class="btn effect01" onclick = handleUserChoice("18")>18:00</button></div>
        <div><button id="19" class="btn effect01" onclick = handleUserChoice("19")>19:00</button></div>
        <div><button id="20" class="btn effect01" onclick = handleUserChoice("20")>20:00</button></div>
        <div><button id="21" class="btn effect01" onclick = handleUserChoice("21")>21:00</button></div>
        <div><button id="22" class="btn effect01" onclick = handleUserChoice("22")>22:00</button></div>
        <div><button id="23" class="btn effect01" onclick = handleUserChoice("23")>23:00</button></div>
    </div>
    </span>
</div>
<script src="{{ url_for('static', filename='js/style.js') }}"></script>
{% endblock %}


