<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Avoid People</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="945713320218-l3hktm010jrfi3v5qg6lsbpern4bl1pu.apps.googleusercontent.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.12.0/css/all.css'>
</head>
<body>
   <header>
        <div class="logo-frame">
        <img class="logo" alt="Logo"
             src="{{ url_for('static', filename='img/CodeNChill.png') }}">
        </div>
   </header>


    <footer>
       <a class="about" href="/About">About</a>
    </footer>
</body>
</html>